<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">  
        <div class="product-container">
            <div class="product-info">
                <h1><%= producto.nombreproducto %></h1>
            </div>
            <div class="product-image">
                <img src="<%= producto.urlImagen %>" alt="<%= producto.nombreproducto %>" />
            </div>
            <div class="product-info">            
                <h2 class="price">$<%= producto.precio %></h2>
                <p><%= producto.descripcion %></p>
                    <% if (producto.caracteristicas && producto.caracteristicas.length > 0) { %>
                        <ul>
                        <% for (let c of producto.caracteristicas) { %>
                            <li><%= c %></li>
                        <% } %>
                        </ul>
                    <% } %>
                <div class="quantity-selector">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" />
                </div>
                <form action="/carrito" method="post">
                    <button class = "btn" type="submit">Agregar al carrito</button>
                    <input type = "hidden" name="idProducto" value="<%= producto.id %>">
                </form>
            </div>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>
</body>